<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pass the Butter</title>

	<!-- favicon links for various display types -->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/site.webmanifest">
	<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- link to google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bungee|Dokdo|Roboto+Condensed" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- link to my sylesheet -->
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

	</head>
	<body>
		{{{ body }}}
	<!-- link to jQuery library -->
	<script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/assets/js/butters.js"></script>
	</body>
</html>