<h1>Pass the Butter</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s5">
        {{#each butters}}
          {{#unless this.passed}}
            <div>
              <form action="/api/butters/{{this.id}}?_method=POST" method="POST">
                <button type="submit" class="hvr-forward waves-effect waves-light unpassedButter"> {{this.butter_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

    <div class="col s2">
        <img src="/assets/img/butter-bot.png" id="butterBot" alt="Butter Bot">
    </div>    

      <div class="col s5">
        {{#each butters}}
          {{#if this.passed}}
            <div class="passedButter">
              <div>
                <button type="submit" class="hvr-backward waves-effect waves-light unpassedButter"> {{this.butter_name}}</button>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add More Butter!</h2>

<div class="row">
  <div class="col s12">
    <form action="/api/butters" method="POST">
      <input type="text" id="name" name="butter_name" placeholder="Sweet, tasty butter...">
      <button type="submit" class="hvr-float-shadow waves-effect waves-light addButterBtn">GIVE HIM PURPOSE</button>
    </form>
  </div>
</div>