body {
    background-color: rgba(0,0,0,0.95);
    font-family: 'Roboto Condensed', sans-serif; 
    color: white;
}

/* Google Fonts:
font-family: 'Dokdo', cursive;
font-family: 'Bungee', cursive;
font-family: 'Roboto Condensed', sans-serif; 
*/

iframe {
  display: block;
  max-width: 1000px;
  max-height: 563px;
  margin-top: 2.5%;
  margin-left: 17%;
}

h1 {
  font-family: 'Dokdo', cursive;
  font-size: 80px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif; 
  font-size: 26px;
  font-style: italic;
  margin-top: -2%;
  margin-bottom: 8%;
}

h4 {
  font-family: 'Dokdo', cursive;
  font-size: 48px;
}

.btn {
  background: url(../img/butter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 55px;
  min-width: 100px;
  color: black;
  font-family: 'Roboto Condensed', sans-serif; 
}

.unpassedButter {
  padding: 2%;
  margin: 2%;
  margin-left: 18%;
}

.passedButter {
  padding: 2%;
  margin: 2%;
  margin-left: 38%;
}

.addButterBtn {
  margin-top: 1.5%;
}


/* label focus color for add butter form */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: rgb(209, 174, 15) !important;
 }

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(209, 174, 15) !important;
  box-shadow: 0 1px 0 0 rgb(209, 174, 15) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(209, 174, 15);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(209, 174, 15);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(209, 174, 15);
}

/* Forward hover effect for buttons from hover.css*/
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  /* Backward hover effect from hover.css*/
.hvr-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }

/* Float Shadow effect from Hover.css */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

@media only screen and (max-width:768px) {
  .passedButter {
    padding: 2%;
    margin: 2%;
    margin-left: 25%;
  }

  .unpassedButter {
    padding: 2%;
    margin: 2%;
    margin-left: 5%;
  }

  .btn {
    min-height: 45px;
    min-width: 75px;
  }

  #butterBot {
    min-width: 100px;
  }
}

@media only screen and (max-width:640px) {
  .passedButter {
    padding: 2%;
    margin: 2%;
    margin-left: 20%;
  }

  
  .unpassedButter {
    padding: 2%;
    margin: 2%;
    margin-left: 0%;
  }

  .btn {
    min-height: 40px;
    min-width: 70px;
  }

  #butterBot {
    min-width: 75px;
  }

}